body {
    background-color: transparent !important;
}

.template, .anuncios {
    display: none;
}

.jmgarcia-anuncios {
    height: 190px;
    width: 540px;
    position: absolute;
    right: 33%;
    bottom:0%;
    display: flex;

}

.anuncios {
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    font: caption;
    font-size: 12px;
    font-weight: bold;

}

.lspd {
    background-image:url("../imagenes/lspd.jpg");
    color: #ffffff;
}

.ems {
    background-image:url("../imagenes/safd.jpg");
    color: #ffffff;
}

.mecanico {
    background-image:url("../imagenes/lsc.jpg");
    color: #ffffff;
}

.taxi {
    background-image:url("../imagenes/taxi.jpg");
    color: #ffffff;
}



